@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .attorney-card-container {
    @apply w-96 h-32 bg-blue-100 rounded-2xl;
  }
  .attorney-label-small {
    @apply text-sm text-black ml-24;
  }
  .attorney-label-large {
    @apply text-sm text-black ml-4;
  }
}