html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f4f6; /* light gray background */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.black-box {
  width: 256px;  /* 64 * 4px */
  height: 256px;
  background-color: black;
}
